services:
  - type: web
    name: weather-api
    runtime: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn main:app --host 0.0.0.0 --port 8000"
    plan: free
    envVars:
      - key: API_KEY
        value: e14afbb524e1dd6656dc7ac8eb3b09df